@import url('https://fonts.googleapis.com/css?family=Taviraj:500,500i,700,700i,800,800i|Sansita:700,700i|Roboto:300,400,500,600,700&display=swap');

/* BS OR = Bootstrap Override */

/* TODOs */
/* TODO change cursor to hand on hover */
/* TODO change icon color on hover - not as easy as it sounds */
/* TODO research using sass so I can include to other styles */

/*---------------General Styles---------------*/

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: #151515;
    color: #cccccc;
    padding: 80px 0 0 0;
}

section {
    margin-top: 20px;
}

.row {
    margin: 0;
}

h3 {
    padding: 15px 0;
    color: #fff7e2;
}

/* styles for tablet */
@media (min-width: 768px) {
    body {
        font-size: 1.05rem;
    }
    h3 {
        padding: 20px 0;
    }
}

/* styles for desktop */
@media (min-width: 992px) {
    body {
        font-size: 1.1rem;
    }
    h3 {
        padding: 25px 0;
    }
}




/*---------------Colors---------------*/

.default-color {
    color: #e6e6e6;
}

/*---------------Header Styles---------------*/

.company-name,
.company-name-lg,
.nav-text,
.nav-text-lg{
    font-family: "Taviraj", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #a7a7a7;
}

.company-name {
    font-size: 17px;
    letter-spacing: .05rem;
}
.company-name-lg {
    font-size: 21px;
    letter-spacing: .05rem;
}

.nav-text {
    font-size: 13px;
}
.nav-text-lg {
    font-size: 15px;
}

/* styles for tablet */
@media (min-width: 768px) {
    .company-name {
        font-size: 19px;
    }
    .company-name-lg {
        font-size: 23px;
    }

    .nav-text {
        font-size: 15px;
    }
    .nav-text-lg {
        font-size: 17px;
    }
}

/* styles for desktop */
@media (min-width: 992px) {
    .company-name {
        font-size: 21px;
    }
    .company-name-lg {
        font-size: 25px;
    }

    .nav-text {
        font-size: 16px;
    }
    .nav-text-lg {
        font-size: 18px;
    }
}

a.nav-link {
    font-family: "Taviraj", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 17px;
    color: #a7a7a7;
    margin-right: 10px;
    vertical-align: center;
}

a.nav-link:hover {
    background: rgba(167,167,167,0.2);
}

/*BS OR*/
.navbar-brand {
    margin-right: 8px;
}

/*BS OR*/
.navbar-toggler {
    padding: 4px;
}

/*BS OR*/
.navbar {
    /*background: rgba(21,21,21,0.85);*/
    background: black;
    padding: 6px 10px;
    z-index: 2;
    /*max-width: 1500px;*/ /*limits the width but left justifies the nav*/
}

nav a {
    color: #e6e6e6;
}

/*---------------Home Page---------------*/
#skyline {
    width: 90%;
    align-content: center;
    border: 1px solid #ea8f20;
    padding: 0;
}

#couple {
    width: 70%;
    align-content: center;
    padding: 0;
}

#splash-text {
    font-family: "Taviraj", sans-serif;
    font-weight: 500;
    font-style: italic;
    padding: 30px 20px 20px;
}

#beach {
    width: 80%;
    align-content: center;
    padding: 0;
}

#girl {
    width: 60%;
    align-content: center;
    padding: 0;
}

#fountain {
    width: 90%;
    align-content: center;
    padding: 0;
}



/*!* styles for tablet *!*/
/*@media (min-width: 768px) {*/
    /*#splash-text {*/
        /*font-size: 1.1rem;*/
    /*}*/
/*}*/

/*!* styles for desktop *!*/
/*@media (min-width: 992px) {*/
    /*#splash-text {*/
        /*font-size: 1.2rem*/
    /*}*/
/*}*/

div > img {
    padding: 5px;
}

/*---------------About Page---------------*/

#randy {
    border: 1px solid white;
    margin: 10px;
}

section .container {

}

/* styles for tablet */
@media (min-width: 768px) {
    section .container {
        max-width: 80%;
    }
}

/* styles for desktop */
@media (min-width: 992px) {
    section .container {
        max-width: 65%;
    }
}

@media (min-width: 1200px) {
    section .container {
        max-width: 1100px;
    }
}

/*---------------Corporate Page---------------*/

#huff {
    /*padding: 0;*/
    /*margin: 0;*/
    /*width: 300px;*/
    /*height: 225px;*/
}

figure {
    /*align-content: center;*/
}

#corp-container {
    max-width: 900px;
}

/*#anything {*/
    /*!*align-content: center;*!*/
    /*padding-left: 50px;*/
/*}*/


/*---------------Footer---------------*/

#copyright {
    font-size: .75rem;
    margin: 0;
    padding-bottom: 20px;
}

#contact {
    margin: 0;
}

#contact i {
    padding: 10px;
    color: #e6e6e6;
}

footer hr {
    background: #e6e6e6;
    width: 65%;
    height: 1px;
    margin-top: 30px;
    max-width: 400px;
}

/* styles for tablet */
@media (min-width: 768px) {
    #copyright {
        font-size: .85rem;
    }
    #contact i {
        font-size: 20px;
    }
}

/* styles for desktop */
@media (min-width: 992px) {
    #copyright {
        font-size: .95rem;
    }
    #contact i {
        font-size: 30px;
    }
}

/*@media (min-width: 1200px) {*/
    /*.container{*/
        /*max-width: 970px;*/
    /*}*/
/*}*/