@import url('https://fonts.googleapis.com/css?family=Taviraj:500,500i,700,700i|Roboto:300,400,500,600,700&display=swap');

/* BS OR = Bootstrap Override */

/*---------------General Styles---------------*/

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: table; /* used to position footer at bottom of short pages */
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: #151515;
    color: #cccccc;
    /*margin: 40px 0 0 0;*/
}

section {
    padding-top: 80px;
}

h3 {
    color: #ea8f20;
    margin: 15px 0 30px 0;
}

img {
    padding: 0;
    margin: 0;
}

figcaption {
    color: #a7a7a7;
    font-size: medium;
}

figcaption:hover {
    color: white;
}

.row {
    margin: 0;
}

a:hover {
    text-decoration: none;
}

/* styles for tablet */
@media (min-width: 768px) {
    body {
        font-size: 1.05rem;
    }
    h3 {
        margin:30px 0 35px 0;
    }
}

/* styles for desktop */
@media (min-width: 992px) {
    body {
        font-size: 1.1rem;
    }
    h3 {
        margin: 40px 0 40px 0;
    }
}

/* --------------------Header Styles-------------------- */

#header-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 91px;
    background: black;
    box-shadow: 1px 1px 5px 5px rgba(255,255,255,0.15);
    z-index: 1050;
}

.company-name,
.company-name-lg,
.nav-text,
.nav-text-lg {
    font-family: "Taviraj", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.company-name {
    font-size: 17px;
    letter-spacing: .03rem;
}
.company-name-lg {
    font-size: 21px;
    letter-spacing: .03rem;
}

.nav-text {
    font-size: 13px;
}
.nav-text-lg {
    font-size: 16px;
}

/* styles for tablet */
@media (min-width: 768px) {
    .company-name {
        font-size: 19px;
    }
    .company-name-lg {
        font-size: 23px;
    }

    .nav-text {
        font-size: 15px;
    }
    .nav-text-lg {
        font-size: 18px;
    }
}

/* styles for desktop */
@media (min-width: 992px) {
    .company-name {
        font-size: 21px;
    }
    .company-name-lg {
        font-size: 25px;
    }

    .nav-text {
        font-size: 16px;
    }
    .nav-text-lg {
        font-size: 19px;
    }
}

.nav-item {
    background: black;
}

a.nav-link {
    margin-right: 8px;
    color: #a7a7a7;
}

a.nav-link:hover {
    background: rgba(255,255,255,0.25);
    border-radius: 8px;
    color: #e6e6e6;
}

/*BS OR*/
a.navbar-brand {
    margin-right: 8px;
    color: #a7a7a7;
}

/*BS OR*/
.navbar-toggler {
    padding: 4px;
    border: 2px solid gray;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='gray' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*BS OR*/
.navbar {
    background: black;
    /*padding: 6px 10px;*/
    z-index: 1100;
    max-width: 1300px;
    margin: 0 auto;
    height: 89px;
}


/* --------------------Home Page-------------------- */
#skyline {
    width: 90%;
    border: 1.5px solid #ea8f20;
    padding: 0;
}

#couple {
    width: 70%;
    padding: 0;
}

#beach {
    width: 80%;
    padding: 0;
}

#girl {
    width: 60%;
    padding: 0;
}

#fountain, #fountain-alt {
    width: 90%;
    padding: 0;
    border: 1px solid #ea8f20;
}

#fountain-alt {
    margin-top: 30px;
}

#splash-text, #splash-text-sm {
    font-family: "Taviraj", sans-serif;
    font-weight: 500;
    font-style: italic;
    padding: 30px 20px 15px;
}

#splash-text-sm {
    font-size: .8rem;
    padding: 0 0 10px;
}

/* styles for tablet */
@media (min-width: 768px) {
    #splash-text {
        font-size: 1.1rem;
    }
    #splash-text-sm {
        font-size: .85rem
    }
}

/* styles for desktop */
@media (min-width: 992px) {
    #splash-text {
        font-size: 1.2rem
    }
    #splash-text-sm {
        font-size: .9rem
    }
}

/* --------------------About Page-------------------- */

#randy {
    border: 2px solid white;
    margin: 10px 20px;
    width: 130px;
    alignment: right;
}

/* styles for tablet */
@media (min-width: 768px) {
    #randy {
        width: 155px;
    }
}

/* styles for desktop */
@media (min-width: 992px) {
    #randy {
        width: 170px;
    }
}

.about-container {
    padding: 0 10px;
}

#signature {
    width: 340px;
    padding: 0;
    border-radius: 50px;
    box-shadow: 0px 0px 3px 3px rgba(255,255,255,.2);
}

#signature-div {
    width: 100%;
    margin: 30px 0 0 0;
    padding: 0;
}

/* --------------------Galleries-------------------- */

jb-splash {
    padding: 5px;
}

#juicebox-container {
    vertical-align: middle;
    height: 880px;
}

/* --------------------Corporate Page-------------------- */

#huff, .nky, #allstate {
    border: 2px solid white;
}

#huff:hover, .nky:hover, #allstate:hover {
    border: 2px solid gold;
}

#allstate-execs {
    margin: 20px auto;
}

.allstate-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    grid-auto-rows: 160px;
    grid-gap: 20px;
}

.allstate-item {
    text-align: center;
}

/* --------------------Portraits Page-------------------- */

#lainie, .paige, #lainie-portrait {
    border: 2px solid white;
}

#lainie:hover, .paige:hover {
    border: 2px solid gold;
}

#lainie-div {
    max-width: 1000px;
    text-align: center;
}

#lainie-portrait {
    max-width: 90%;
    margin-top: 5%;
}

/* --------------------Families Page-------------------- */

#klesa, .due {
    border: 2px solid white;
}

#klesa:hover, .due:hover {
    border: 2px solid gold;
}

#klesa-div {
    max-width: 1000px;
    text-align: center;
}

.table-sm {
    padding: 0;
    margin: auto;
    /*width: 50% !important;*/
    /*width: 330px;*/
}

@media (min-width: 992px) {
    .table-sm {
        margin: auto;
        width: 660px;
    }
}

/* --------------------Contact Us Page-------------------- */

.contact-container {
    max-width: 800px;
}

#photography_inquiry input, textarea {
    margin: 10px;
}

#photography_inquiry label {
    vertical-align: center;
}

:required {
    border-color: #800000;
    border-width: 4px;
}

/* --------------------Footer-------------------- */

#copyright {
    font-size: .75rem;
    margin: 0;
    padding-bottom: 20px;
}

#contact {
    margin: 0;
}

#contact i {
    padding: 10px;
    color: #e6e6e6;
}

footer hr {
    background: #e6e6e6;
    width: 65%;
    height: 1px;
    margin-top: 30px;
    max-width: 400px;
}

footer {
    display: table-row; /* used to position footer at bottom of short pages */
    height: 0;
}

/* styles for tablet */
@media (min-width: 768px) {
    #copyright {
        font-size: .85rem;
    }
    #contact i {
        font-size: 20px;
    }
}

/* styles for desktop */
@media (min-width: 992px) {
    #copyright {
        font-size: .95rem;
    }
    #contact i {
        font-size: 30px;
    }
}
