@import url('https://fonts.googleapis.com/css?family=Taviraj:500,500i,700,700i,800,800i|Sansita:700,700i|Roboto:300,400,500,600,700&display=swap');

/* BS OR = Bootstrap Override */

/*---------------General Styles---------------*/
html {
    margin: 0;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: #151515;
    color: #e6e6e6;
    padding: 80px 0 0 0;
}

/* styles for tablet */
@media (min-width: 768px) {
    body {
        font-size: 1.25rem;
    }
}

/* styles for desktop */
@media (min-width: 992px) {
    body {
        font-size: 1.5rem;
    }
}

section {
    margin-top: 20px;
}


/*---------------Colors---------------*/

.default-color {
    color: #e6e6e6;
}

/*---------------Header Styles---------------*/

.company-name,
.company-name-lg {
    font-family: "Taviraj", sans-serif;
    font-weight: 700;
    font-size: 17px;
    font-style: italic;
    color: #a7a7a7;
    letter-spacing: 1px;
}

.company-name {
    font-weight: 700;
    font-size: 17px;
}

.company-name-lg {
    font-weight: 700;
    font-size: 21px;
}

a.nav-link {
    font-family: "Taviraj", sans-serif;
    margin-right: 10px;
}

/*BS OR*/
.navbar-brand {
    margin-right: 8px;
}

/*BS OR*/
.navbar-toggler {
    padding: 10px;
}

/*.custom-toggler .navbar-toggler-icon {*/
    /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32'  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");*/
/*}*/

/*BS OR*/
.navbar {
    /*background: rgba(21,21,21,0.85);*/
    background: black;
    padding: 6px 10px;
    z-index: 2;
}

nav a {
    color: #e6e6e6;
}

/*---------------Home Page---------------*/
#skyline {
    width: 90%;
    align-content: center;
    border: 3px solid #ea8f20;
    padding: 0;
}

#couple {
    width: 70%;
    align-content: center;
    padding: 0;
}

#splash-text {
    font-family: "Taviraj", sans-serif;
    font-weight: 500;
    font-style: italic;
    padding: 20px;
}

/* styles for tablet */
@media (min-width: 768px) {

}

/* styles for desktop */
@media (min-width: 992px) {

}

div > img {
    padding: 5px;
}



/* TODO research using sass so I can include to other styles*/


/*---------------Footer---------------*/

#copyright {
    font-size: .75rem;
    margin: 0;
}

#contact {
    margin: 0;
}

#contact i {
    padding: 10px;
}

footer hr {
    background: #e6e6e6;
    width: 65%;
    height: 2px;
    align: center;
}

/* styles for tablet */
@media (min-width: 768px) {
    #copyright {
        font-size: 1rem;
    }
}

/* styles for desktop */
@media (min-width: 992px) {
    #copyright {
        font-size: 1.25rem;
    }
}