<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery
	buttonBarPosition="overlay_image"
	showSmallBackButton="true"
	backButtonPosition="top"
	backButtonText="Back to Home"
	backButtonUrl="../../../index.html"
	enableAutoPlay="true"
	autoPlayOnLoad="true"
	displayTime="3"
	enableLooping="true"
	frameWidth="0"
	imageFrameColor="rgba(167,167,167,1)"
	imagePadding="10"
	thumbWidth="102"
	thumbHeight="85"
	thumbCornerRadius="5"
	thumbFrameColor="rgba(255,95,60,.5)"
	maxThumbRows="1"
	thumbSelectedFrameWidth="3"
	thumbHoverFrameWidth="3"
	showAutoPlayButton="true"
	captionPosition="none"
	showSplashPage="never"
>

  <image imageURL="images/Fine-Art-001.jpg"
	thumbURL="thumbs/Fine-Art-001.jpg"
	linkURL="images/Fine-Art-001.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-002.jpg"
	thumbURL="thumbs/Fine-Art-002.jpg"
	linkURL="images/Fine-Art-002.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-003.jpg"
	thumbURL="thumbs/Fine-Art-003.jpg"
	linkURL="images/Fine-Art-003.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-004.jpg"
	thumbURL="thumbs/Fine-Art-004.jpg"
	linkURL="images/Fine-Art-004.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-005.jpg"
	thumbURL="thumbs/Fine-Art-005.jpg"
	linkURL="images/Fine-Art-005.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-006.jpg"
	thumbURL="thumbs/Fine-Art-006.jpg"
	linkURL="images/Fine-Art-006.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-007.jpg"
	thumbURL="thumbs/Fine-Art-007.jpg"
	linkURL="images/Fine-Art-007.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-008.jpg"
	thumbURL="thumbs/Fine-Art-008.jpg"
	linkURL="images/Fine-Art-008.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-009.jpg"
	thumbURL="thumbs/Fine-Art-009.jpg"
	linkURL="images/Fine-Art-009.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-010.jpg"
	thumbURL="thumbs/Fine-Art-010.jpg"
	linkURL="images/Fine-Art-010.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-011.jpg"
	thumbURL="thumbs/Fine-Art-011.jpg"
	linkURL="images/Fine-Art-011.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-012.jpg"
	thumbURL="thumbs/Fine-Art-012.jpg"
	linkURL="images/Fine-Art-012.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-013.jpg"
	thumbURL="thumbs/Fine-Art-013.jpg"
	linkURL="images/Fine-Art-013.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-014.jpg"
	thumbURL="thumbs/Fine-Art-014.jpg"
	linkURL="images/Fine-Art-014.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-015.jpg"
	thumbURL="thumbs/Fine-Art-015.jpg"
	linkURL="images/Fine-Art-015.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-016.jpg"
	thumbURL="thumbs/Fine-Art-016.jpg"
	linkURL="images/Fine-Art-016.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-017.jpg"
	thumbURL="thumbs/Fine-Art-017.jpg"
	linkURL="images/Fine-Art-017.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-018.jpg"
	thumbURL="thumbs/Fine-Art-018.jpg"
	linkURL="images/Fine-Art-018.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-019.jpg"
	thumbURL="thumbs/Fine-Art-019.jpg"
	linkURL="images/Fine-Art-019.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-020.jpg"
	thumbURL="thumbs/Fine-Art-020.jpg"
	linkURL="images/Fine-Art-020.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-021.jpg"
	thumbURL="thumbs/Fine-Art-021.jpg"
	linkURL="images/Fine-Art-021.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-022.jpg"
	thumbURL="thumbs/Fine-Art-022.jpg"
	linkURL="images/Fine-Art-022.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-023.jpg"
	thumbURL="thumbs/Fine-Art-023.jpg"
	linkURL="images/Fine-Art-023.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-024.jpg"
	thumbURL="thumbs/Fine-Art-024.jpg"
	linkURL="images/Fine-Art-024.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-025.jpg"
	thumbURL="thumbs/Fine-Art-025.jpg"
	linkURL="images/Fine-Art-025.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  <image imageURL="images/Fine-Art-026.jpg"
	thumbURL="thumbs/Fine-Art-026.jpg"
	linkURL="images/Fine-Art-026.jpg"
	linkTarget="_blank">
	<title></title>
    <caption></caption>
  </image>
  
</juiceboxgallery>